In [6]:
def bigon(n):
    for i in range(0,n):
        print(i)

In [7]:
bigon(5)

0
1
2
3
4

In [8]:
def bigon2(n):
    for i in range(0,n):
        for j in range(0,n):
            print(i,j)

In [9]:
bigon2(5)

0 0
0 1
0 2
0 3
0 4
1 0
1 1
1 2
1 3
1 4
2 0
2 1
2 2
2 3
2 4
3 0
3 1
3 2
3 3
3 4
4 0
4 1
4 2
4 3
4 4

In [17]:
def bigon3(n):
    for i in range(0,n):
        for j in range(0,n):
            for k in range(0,n):
                print(i,j,k)

In [18]:
bigon3(5)

0 0 0
0 0 1
0 0 2
0 0 3
0 0 4
0 1 0
0 1 1
0 1 2
0 1 3
0 1 4
0 2 0
0 2 1
0 2 2
0 2 3
0 2 4
0 3 0
0 3 1
0 3 2
0 3 3
0 3 4
0 4 0
0 4 1
0 4 2
0 4 3
0 4 4
1 0 0
1 0 1
1 0 2
1 0 3
1 0 4
1 1 0
1 1 1
1 1 2
1 1 3
1 1 4
1 2 0
1 2 1
1 2 2
1 2 3
1 2 4
1 3 0
1 3 1
1 3 2
1 3 3
1 3 4
1 4 0
1 4 1
1 4 2
1 4 3
1 4 4
2 0 0
2 0 1
2 0 2
2 0 3
2 0 4
2 1 0
2 1 1
2 1 2
2 1 3
2 1 4
2 2 0
2 2 1
2 2 2
2 2 3
2 2 4
2 3 0
2 3 1
2 3 2
2 3 3
2 3 4
2 4 0
2 4 1
2 4 2
2 4 3
2 4 4
3 0 0
3 0 1
3 0 2
3 0 3
3 0 4
3 1 0
3 1 1
3 1 2
3 1 3
3 1 4
3 2 0
3 2 1
3 2 2
3 2 3
3 2 4
3 3 0
3 3 1
3 3 2
3 3 3
3 3 4
3 4 0
3 4 1
3 4 2
3 4 3
3 4 4
4 0 0
4 0 1
4 0 2
4 0 3
4 0 4
4 1 0
4 1 1
4 1 2
4 1 3
4 1 4
4 2 0
4 2 1
4 2 2
4 2 3
4 2 4
4 3 0
4 3 1
4 3 2
4 3 3
4 3 4
4 4 0
4 4 1
4 4 2
4 4 3
4 4 4

In [22]:
import math
def logn(n):
    while n > 1:
        n = math.floor(n/2)
        print(n)

In [25]:
logn(8)

4
2
1

In [26]:
def nlogn(n):
    lim = n
    while n > 1:
        n = math.floor(n/2)
        for i in range(1,lim):
            print(i)

In [28]:
nlogn(4)

1
2
3
1
2
3

In [65]:
def twotonfibonacci(n):
    if n == 0:
        return 0
    elif n == 1:
        return 1
    return twotonfibonacci(n-1) + twotonfibonacci(n-2)

In [66]:
twotonfibonacci(9)

34

In [70]:
def nfactorial(n):
    if n == 0:
        print("1")
        return
    else:
        for i in range(0,n):
            print(i)
            nfactorial(n-1)

In [73]:
nfactorial(3)

0
0
0
1
1
0
1
1
0
0
1
1
0
1
2
0
0
1
1
0
1

In [82]:
counter = 0
def actualFactorial(n):
    global counter
    counter += 1
    print(counter)
    if (n==1 or n==0):
        return 1
    else:
        return (n * actualFactorial(n - 1))

In [83]:
actualFactorial(8)

1
2
3
4
5
6
7
8

40320